<!DOCTYPE html>
<html lang="zh" ng-app="app" ng-controller="global" ng-init="userType=2;">
<head>
  <meta charset="UTF-8">
  <title>我的工作间</title>
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="scripts/lib/normalize.css/normalize.css" />
  <link rel="stylesheet" href="scripts/lib/art-reactor/dist/art-reactor.min.css" />
  <link rel="stylesheet" href="styles/common.css">
  <script src="http://vplus.fdc.com.cn/weixinapi/home/GetToken/get_openid/?type=detail"></script></head>
<body ng-controller="ctrl">
  <div class="title">
    <h1>我的工作间</h1>
  </div>

  <div class="search-panel cf">
    <div class="search col-6">
      <div class="label">
        客户状态-
        <span ng-bind="state | stateDisplay"></span> <i class="ar ar-angle-down"></i>
      </div>
      <select ng-model="state" class="imitate" ng-options="item.id as item.label for item in states"></select>
    </div>
    <div class="search col-6">
      <div class="label">
        客户类型-
        <span ng-bind="type | typeDisplay"></span> <i class="ar ar-angle-down"></i>
      </div>
      <select ng-model="type" class="imitate" ng-options="item.id as item.label for item in types"></select>
    </div>
  </div>

  <div id="listBody" class="list-panel">
    <div class="list-item" ng-repeat="ent in list" ng-click="getBaseInfo(ent.ID, ent.PropertyID)">
      <div class="head">
        <p ng-bind="ent.PropertyID | getPropertyType : 'title'"></p>
        <div class="f-r">
          <span class="tag" ng-class="ent.UpdateInfo | isComplete"></span>
          <span class="tag" ng-class="ent.StatusID | getStatusClass:'tag':'tagM'"></span>
          <span class="tag tag-blue" ng-show="ent.IsLooked == false" ng-class="ent.IsLooked | isNew"></span>
        </div>
      </div>
      <table>
        <tr>
          <td ng-bind="ent.Address"></td>
        </tr>
        <tr>
          <td ng-bind="ent.CustName"></td>
          <td class="text-right">
            <span ng-bind="ent.Rooms"></span>
            房
            <span ng-bind="ent.Hall"></span>
            厅
            <span ng-bind="ent.Toilet"></span>
            卫
          </td>
        </tr>
      </table>
    </div>
  </div>

  <my-loading ng-show="isLoading"></my-loading>

  <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
  <script src="scripts/lib/zeptojs/src/zepto.js"></script>
  <script src="scripts/lib/angular/angular.min.js"></script>
  <script src="scripts/module/lazyload.js"></script>
  <script src="scripts/module/server.js"></script>
  <script src="scripts/module/global.js"></script>
  <!-- endbuild -->
  <script src="scripts/workshop.js"></script>
</body>
</html>